.page {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  margin: auto;
}
.heder {
  width: 1920px;
  margin: auto;
  position: relative;
}
.nav {
  background-color: #4d5455;
}
.nav__icon {
  margin-left: 400px;
  display: inline-block;
  vertical-align: middle;
}
.nav__ref {
  margin-left: 80px;
  font-size: 2.2em;
  text-decoration: none ;
  color: #dadada;
  display: inline-block;
}
.nav__ref:hover {
  color: #b7e276;
}
.mine__img {
  text-align: center;
  margin: auto;
}
.heder__popUpText {
  font-family: Consolas;
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 20px 10px 10px 5px rgba(0, 0, 0, 0.4);
  width: 900px;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  bottom: 250px;
  left: 420px;
  border: 1px solid grey;
  border-radius: 10px;
  display: none;
}
.caption-h1 {
  font-size: 3.2em;
}
.heder__caption-container {
  background: url("imj/logotip.png") no-repeat, url("imj/logotip.png") 100% no-repeat;
}
.popUpText__element {
  font-size: 1.3em;
  font-weight: bold;
}
.bid {
  width: 300px;
  height: 80px;
  background-color: red;
  position: absolute;
  left: 800px;
  bottom: 100px;
}
.bid__a {
  color: white;
  text-decoration: none;
  font-size: 3em;
  padding: 60px;
}
.bid:hover + .heder__popUpText {
  display: block;
}
.mine {
  width: 1300px;
  margin: auto;
}
.caption-h1 {
  padding-top: 30px;
  text-align: center;
  background: url("imj/logotip.png") no-repeat, url("imj/logotip.png") 100% no-repeat;
}
.caption-h2 {
  text-align: center;
}
.section__doubele {
  position: relative;
  display: table;
  margin-top: 20px ;
}
.section_doubele-left {
  display: table-cell;
}
.section__doubele-right {
  vertical-align: top;
  display: table-cell;
}
.section__doubele-blind {
  position: absolute;
  width: 550px;
  height: 280px;
  left: 750px;
  background: rgba(0, 0, 0, 0.5);
  transition: width 2s;
}
.section__doubele-blind:hover {
  width: 0;
}
.section__doubele-right:hover + .section__doubele-blind {
  width: 0;
}
.video {
  margin-left: 350px;
  margin-bottom: 100px;
}
.section__triple {
  display: table;
}
.sectiuon__triple-left {
  display: table-cell;
}
.sectiuon__triple-center {
  display: table-cell;
}
.section__doubele-right {
  display: table-cell;
}
.gallery {
  padding-top: 30px;
}
.gallery__imj {
  margin-left: 25px;
}
.gallery__imj:hover {
  transform: scale(1.2);
}
.section__doubele-imj {
  display: table-cell;
}
.img__bild {
  position: absolute;
  width: 500px;
  height: 375px;
  right: 800px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: width 2s;
}
.img__bild:hover {
  width: 0;
}
.section__doubele-imj:hover + .img__bild {
  width: 0;
}
.section__doubele-text {
  display: table-cell;
  vertical-align: top;
  padding-left: 50px;
}
.section__contact {
  display: table;
}
.section__contact-map {
  display: table-cell;
}
.section__contact-adres {
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
}
.footer {
  position: relative;
  padding-top: 50px;
}
.footer__bid {
  width: 460px;
  background-color: red;
  left: 700px;
  bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
}
.footer__bid-a {
  color: white;
  text-decoration: none;
  font-size: 4.5em;
  padding: 100px;
  vertical-align: middle;
}
.footer__blid {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 1900px;
  height: 1000px;
  top: 50px;
}
.footer__logotip {
  position: absolute;
  left: 800px;
  top: 200px;
}
